* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.unstyle {
    all: unset;
}

.is-flex {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

header {
    background-color: #f8cace;
}

/* modo oscuro */
.modo-oscuro {
    background-color: #251030;
    color: #e2e2e2;
} 

.encabezado {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 21px;
    justify-content: center;
}   


#imagen-meme img {
    max-width: 100%;
    max-height: 100%;
}

.boton {
    font-size: 18px;
    padding: 10px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.boton:hover{
    background-color: #ff9f9f;
}


.contenedor-botones {
    justify-content: center;
    margin: 0;
}

.seccion-main {
    padding: 80px 80px 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-meme {
    font-size: 40px;
    text-align: center;
    padding: 40px;
    background-color: whitesmoke;
    height: 12vh;
    width: 63vh;
    font-weight: 900;
}

.imagen-meme {
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 63vh;
}

#imagen-meme {
    max-width: 100%;
    max-height: 100%;
}

.boton-descargar {
    color: white;
    font-size: 18px;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(50, 151, 50);
    margin-top: 25px;
    cursor: pointer; 
}

.titulo-panel {
    font-size: 20px;
    text-align: center;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 25px;
    text-align:center;
}

.container label {
    display: flex;
    width: auto;
    top: 10px;
    left: 20px;
    margin-bottom: 5px;
    padding: 5px;
}

.container input {
    display: flex;
    width: 100%;
    border-radius: 8px;
    border: 0;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
    border: none;
}

.container-fondo {
    display: flex;
    justify-content: space-between;
}

.container input[type=color] {
    background-color: red;
    width: 50%;
}

.color-fondo input[type="color"],
input[type="color"]::-webkit-color-swatch-wrapper,
input[type="color"]::-webkit-color-swatch {
    width: 40px;
    height: 30px;
    min-width: 18px;
    border-radius: 100%;
    background-color: transparent;
    margin-bottom: 15px;
    border: 0;
}

.div {
    display: flex;
    justify-content:space-between;
}

.color-imagen {
    width: 50%;
    margin: 0;
}

.container-fondo select {
    font-size: 15px;
    padding: 5px;
    border: 0;
    margin-left: 50px;
    }

.container-filtros {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    cursor: ew-resize;
    width: 100%;
    transition: background .3s ease-in-out;
    border: none;
    outline: none;
} */
input[type=range]{
    -webkit-appearance: none;
    appearance:unset;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(150, 67, 173);
    margin-top: -4px;
    cursor: ew-resize;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cf8f8f;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #959191;
}

.container-filtros label {
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

.input-texto {
    height: 40px;
    width: 100%;
    padding: 10px;
}

.checks {
    display: flex;
    align-items: center;
    text-align: center;
    align-items: flex-start;
    margin-left: 20px;
    font-size: 16px;
}

.checks label {
    margin-left: 10px;
}

.check-fondo-transparente {
    margin-top: 15px;
}

.panel-texto {
    margin-bottom: 20px;
    font-size: 17px;
    margin-left: 10px;
}

.panel-texto textarea {
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
}

.panel-fuente select {
    font-size: 18px;
    height: 38px;
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}

.panel-fuente input {
    font-size: 17px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 50%;
}

.botones-align {
    font-size: 22px;
    background-color: #b99d77;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
}

.color-fondo {
    margin: 10px;
    width: 100px;
    height: 35px;
    background-color: #b99d77;
    padding: 5px;
    border-radius: 5px;
}

span {
    margin-top: 10px;
}

.container-fondo h3 {
    margin-top: 15px;
}

.container-fondo input[type="color"],
input[type="color"]::-webkit-color-swatch-wrapper,
input[type="color"]::-webkit-color-swatch {
    width: 38px;
    height: 32px;
    min-width: 18px;
    border-radius: 100%;
    border: 0;
}

.espaciado-interlineado input {
    width: 95%;
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
    padding: 10px;
}

.espaciado-interlineado select {
    width: 95%;
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
    padding: 5px 10px;
}


.botones-texto {
    font-size: 20px;
    margin: 2px;
}

.boton-filtros {
    font-size: 18px;
    padding: 5px;
    height: 30px;
    border-radius: 10px;
    background-color: #be4a79;
    cursor: pointer;
    font-weight: bold;
}

.boton-filtros:hover {
    background-color: rgb(241, 114, 114);
}

.panel {
    width: 14%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color:#E9DFE3;
    overflow: hidden;
    padding: 20px;
    justify-content: center;
}

.panel-modo-oscuro {
    background-color: #6b1c3d;
    color: whitesmoke;
}

main {
    background-color: #e7d2b6;
    height: 86vh;
}

.modo-oscuro-main {
    background-color: #281831;
    color: #c54e7b;
}

.hidden {
    display: none;
}
